* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero__section {
  background: #002ed0;
  padding: 0 60px;
  color: #fff;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 820px;
}

.column__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column__left h1 {
  font-size: 90px;
}

.column__left p {
  font-size: 16px;
  line-height: 2.3;
}

.column__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .hero__section {
    padding: 30px;
  }
}

.hero__wrapper {
  grid-template-columns: 1fr;
}

.column__left h1 {
  font-size: 80px;
}

@media screen and (max-width: 468px) {
  .hero__wrapper {
    grid-template-rows: 600px;
  }

  .column__left h1 {
    font-size: 32px;
  }
}

.main__section {
  padding: 60px 6px;
  background: #002ed0;
  color: #fff;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__container h1 {
  font-size: 110px;
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
}

.main__text {
  padding-right: 20px;
}

.main__text h2 {
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.main__text p {
  display: flex;
  justify-content: center;
}

.main__image {
  display: flex;
  justify-content: center;
}

.main__img {
  width: 420px;
  height: 610px;
}
